header.header
	div.header__container.container
		button.header__burger(type="button" aria-expanded="false" aria-label="Меню")
			span
			span
			span
		h1.header__heading Setting
		search.header__search-wrap
			form.header__search-form(action="#" method="get" autocomplete="off")
				button.header__search-submit
					+icon(16, 16, "search-icon")
				input.header__search(type="search" id="search" name="search" placeholder="Search for something")
		button.header__settings.button--secondary(type="button")
			+icon(26, 26, "menu-settings")
		button.header__notifications.button--secondary(type="button")
			+icon(26, 26, "menu-notifications")
		a.header__user-avatar(href="#")
