aside.sidebar
	div.sidebar__navigation.navigation
		a.navigation__logo(href="#!")
			img(src="./img/content/nav-logo.svg" width="183" height="36" alt="Логотип банка")
		ul.navigation__list
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-dashboard")
					| Dashboard
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-transactions")
					| Transactions
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-accounts")
					| Accounts
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-investments")
					| Investments
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-cards")
					| Credit Cards
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-loans")
					| Loans
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-services")
					| Services
			li.navigation__item
				a.navigation__link(href="#")
					+icon(25, 25, "nav-privileges")
					| My Privileges
			li.navigation__item.navigation__item--current
				a.navigation__link(href="#")
					+icon(25, 25, "nav-setting")
					| Setting
