.hero {
	display: grid;
	place-items: center;
	border-radius: 15px;
	background-color: var(--color-bg-main);

	@include desktop {
		border-radius: 25px;
	}
}

.hero__container {
	display: grid;
	place-items: center;
	padding-top: 20px;
	padding-bottom: 26px;

	@include desktop {
		padding-top: 30px;
		padding-bottom: 38px;
	}
}

.hero__tabs {}
