.sidebar {
	position: fixed;
	top: 140px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100dvh - 140px);
	background-color: var(--color-bg-main);
	opacity: 0;
	transition: opacity .3s ease-in-out;
	pointer-events: none;

	&.sidebar--opened {
		opacity: 1;
		pointer-events: visible;
	}

	@include desktop {
		position: static;
		grid-area: sidebar;
		border-right: 1px solid var(--color-aside-border);
		width: auto;
		height: auto;
		opacity: 1;
		pointer-events: visible;
	}
}

.sidebar__navigation {
	display: flex;
	flex-direction: column;
}
