:root {
	--font-family: "Gilroy", sans-serif;
	--color-text-main: #232323;
	--color-text-alternate: #718ebf;
	--color-text-alternate-hover: #94aacf;
	--color-text-placeholder: #8ba3cb;
	--color-text-sidebar: #b1b1b1;
	--color-text-current: #1814f3;
	--color-bg-main: #fff;
	--color-bg-alternate: #f5f7fa;
	--color-heading-main: #343c6a;
	--color-notifications-icon: #fe5c73;
	--color-aside-border: #e6eff5;
	--color-border-main: #dfeaf2;
	--color-submit-button: #1814f3;
	--color-submit-hover: #4845f6;
	--color-submit-active: #0e0aca;
}
